
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Capstone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'autobiography-view' %}">Autobiography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'photo_essays' %}">Photographic Essays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cv' %}">CVs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'videos' %}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">contact Information</a>
        </li>
      </ul>
    </div>
  </nav>